$mobile-dimensions: 420px;
$minimum-navbar-dimensions: 620px;
$image-card-max-width: $mobile-dimensions - 30; // mobile-dimensions - 30px
$image-card-max-height: 680px;
$image-card-min-height: 200px;
$mobile-form-container: 780px;
