$mobile-dimensions: 420px;
$minimum-navbar-width: 620px;
$image-card-max-width: $mobile-dimensions - 30; // mobile-dimensions - 30px
$image-card-max-height: 880px; //680
$image-card-min-height: 150px;
$mobile-form-container: 780px;
