@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@300;500&family=Roboto+Slab&family=Space+Grotesk&display=swap');

%roboto {
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

%mono{
    font-family: 'Roboto Mono', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

%slab {
    font-family: 'Roboto Slab', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

%space {
    font-family: 'Space Grotesk', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

%title-shadow{
    text-shadow: 3px 4px 3px rgba(0,0,0,0.7), 4px 8px 13px rgba(0,0,0,0.7), 18px 18px 23px rgba(0,0,0,0.3);
}