@import './colors';
@import './fonts';

%text-input {
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid black;
    color: $steel;
    background: rgb(53, 53, 53);
    display: block;
    height: 30px;
    margin: 2% 1%;
    padding: 5px 10px;
    outline: none;
    //transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    //box-shadow: rgba(12, 9, 9, 0.45) 1px 1px 3px, rgba(0, 0, 0, 0.79) 5px 8px 10px;
    @extend %roboto;

    &:hover {
        //border-color: #ccc;
    }

    // &:focus {
    // }
}