@import '../../designUtils/colors.scss';
@import './../../designUtils/textfields.scss';

.searchBar {
    @extend %text-input;
     width: 60%;
     margin: 0 0 0 5px;
     &::-webkit-input-placeholder {
        font-weight: 600;
    }
}