@import './../../designUtils/dimensions.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    &__buttons{
        display: flex;
        justify-content: space-between;
        > * {
            padding: 0 5px;
        }
    }

    a {
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: underline;
        }
    }

    &__logo {
        font-size: 28px;
        font-weight: 700;
    }

    &__menuItems {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__menuItem {
        font-size: 14px;
        padding: 0px 8px;
        font-weight: 500;

        position: relative;
        top: 10px;
    }

    &__toggleIcon {
        display: none;
    }

    &__logButton {
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: .8rem;
        line-height: 10px;
        font-weight: 600;
        border-radius: 50px;
        margin: 1px;
        padding: 9px 16px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
        color: #fff;

        &:hover {
            opacity: .5;
            cursor: pointer;
        }
    }//button

    &__signupButton{
        padding: 8px 14px;
        border: 1px solid #222222;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: #fff;
        color: #222222;
    
    }

    @media only screen and (max-width: $minimum-navbar-dimensions) {
        &__menuItems {
            display: none;

            &-active {
                display: block;
                background-color: rgb(248, 248, 248);
                width: -webkit-fill-available;
                height: -webkit-fill-available;
                z-index: 10;
                position: absolute;
                margin-top: 60px;
                left: 0;
                border-bottom: 1px solid black;
            }
        }

        &__menuItem {
            list-style-type: none;
            text-align: center;
            padding: 1.5rem;
            font-size: 25px;
            border: none;
        }

        &__toggleIcon {
            display: block;
        }
        &__signupButton{
            display:none;
        }
    }
    
}