@import './../../designUtils/cards.scss';
@import './../../designUtils/colors.scss';
@import './../../designUtils/fonts.scss';

.imageCardModal {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        margin: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        color: $steel;

        &:hover {
            background-color: $cornflower;
            padding: 5px;
            margin: 5px 5px 0 0;
            border-radius: 50%;
            color: $steel;
        }
    }
}

.imageCardBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-dark;
    border: '2px solid #000';
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    //margin: 32px;
    // min-width: 60vw;
    // max-width: 70vw;
    width: 70%;
    min-height: 60vh;
    // max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    color: $steel;
    border: 2px solid $background-light;
    @extend %card-outline;
    outline: none;

    &-expanded{
    }

    &__fullscreen {
        position: absolute;
        top: 10px;
        right: 10px;

    }

    >* {}

    &__title {
        //take 2 columns
        //grid-column: 1 / 3;
        margin-top: -10px;
        font-size: 2rem;
        text-align: center;
    }

    &__img {
        display: block;
        margin: auto;
        width: 25vw;
        // min-height: 20vh;
        // max-height: 55vh;
        // min-width: 10vw;
        // max-width: 30vw;
        @extend %card-outline;

        &-expanded{
            width: 50vw;
        }
    }

    &__details {
        margin-left: 5px;
        max-height: 50vh;
        display: flex;
        flex-direction: column;
    }

    &__artist {
        display: flex;
        align-items: center;

        >img {
            width: 25px;
            height: 25px;
            border-top: 5px;
            border-radius: 50%;
            border: 1px solid black;
            margin: 1px;
        }
    }

    &__prompt,
    &__instructions {
        width: 100%;
        overflow-y: auto;
        font-size: 1rem;

        > :first-child {
            // unable to select
            -webkit-user-select: none;
            /* Chrome all / Safari all */
            -moz-user-select: none;
            /* Firefox all */
            -ms-user-select: none;
            /* IE 10+ */
            user-select: none;
            /* Likely future */
        }

        > :last-child {
            //one click to select all
            cursor: cell; //copy
            -webkit-user-select: all;
            /* Chrome all / Safari all */
            -moz-user-select: all;
            /* Firefox all */
            -ms-user-select: all;
            /* IE 10+ */
            user-select: all;
            /* Likely future */
        }
    }

    &__prompt {
        max-height: 15vh;
        margin: .3rem 0 .5rem;
    }

    &__instructions {
        max-height: 10vh;
        margin: .3rem 0 .3rem;
    }

    &__date {
        font-size: .75rem;
        margin: 3px 0 0;

    }

    &__dimensions {
        display: flex;
        justify-content: flex-end;
        margin: 2px 0;
        font-size: .9rem;
        margin-top: auto;

        > :first-child {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 20px;
            margin: 0 2px;
            padding: 1px;
        }

        > :last-child {
            margin-top: 5px;
        }
    }

    &__rating {
        //grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 10px auto -10px;
        border: 2px solid rgb(59, 59, 59);
        border-radius: 20px;
        padding: 0 23px;

        > :first-child {
            color: rgb(53, 53, 53);
        }
    }


}

@media only screen and (max-width: 720px) {

    .imageCardBox {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        max-width: 80vw;
        max-height: unset;


        &__title {
            grid-column: 1;
            font-size: 1.5rem;
        }

        &__img {
            max-width: 60vw;
        }

        &__details {
            margin: 0;
        }

        &__prompt,
        &__instructions {
            font-size: .8rem;
            max-height: 9vh;
        }

        &__instructions {
            max-height: 7vh;
        }

        &__rating {
            margin: 3px auto -10px;
            grid-column: 1;
        }
    }
}