@import './../../designUtils/cards.scss';
@import './../../designUtils/colors.scss';
@import './../../designUtils/fonts.scss';

.imageCardModal {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    &__close, &__next, &__prev {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
        margin: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        color: $steel;

        &:hover {
            background-color: $cornflower;
            padding: 5px;
            margin: 5px 5px 0 0;
            border-radius: 50%;
            color: $steel;
        }
    }

    &__next{
        top: 50%;
    }
    &__prev{
        top: 50%;
        left: 20px;
    }
}

.imageCardBox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-dark;
    border: '2px solid #000';
    border-radius: 12px;
    width: 70%;
    min-height: 70vh;
    color: white;
    border: 2px solid $background-light;
    @extend %card-outline;
    outline: none;
    display: flex;
    flex-direction: column;


    &__image{

        &__fullscreen {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &__img {
            display: block;
            margin: auto;
            width: 50%;
            @extend %card-outline;

            &:hover{
                cursor: -webkit-zoom-in;
            }
    
            &-expanded {
                width: 100%;
                object-fit: cover;
                &:hover{
                    cursor: -webkit-zoom-out;
                }
            }
        }

    }

    

    &__details {
        margin-left: 5px;
        display: flex;
        flex-direction: column;

        

        &__header {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            // padding: 0 10px;

            &__title {
                font-size: 1.3rem;
                text-align: center;
                padding: 0 22px 0 8px;
                text-shadow: 2px 4px 3px rgba(0,0,0,1);
            }

            &__artist{
                display: flex;
                align-items: center;
                font-size: .85rem;
                margin-top: 10px;

                >img {
                    width: 25px;
                    height: 25px;
                    border-top: 5px;
                    border-radius: 50%;
                    border: 1px solid black;
                    margin: 1px;
                }

            }

            
        }

        &__prompt,
        &__instructions {
            // width: 100%;
            // overflow-y: auto;
            font-size: 1rem;
            font-weight: 500;
            margin: .4rem;

            > :first-child {
                // unable to select
                -webkit-user-select: none;
                /* Chrome all / Safari all */
                -moz-user-select: none;
                /* Firefox all */
                -ms-user-select: none;
                /* IE 10+ */
                user-select: none;
                /* Likely future */
            }

            > :last-child {
                //one click to select all
                cursor: cell; //copy
                -webkit-user-select: all;
                /* Chrome all / Safari all */
                -moz-user-select: all;
                /* Firefox all */
                -ms-user-select: all;
                /* IE 10+ */
                user-select: all;
                /* Likely future */
            }
        }

        &__instructions {
            color: $steel;
        }

        &__date {
            font-size: .8rem;
            margin: .5rem;
        }

        &__dimensions { //dimensions
            display: flex;
            justify-content: flex-end;
            margin: .4rem .6rem;
            margin-top: auto;

            > :first-child {
                cursor: pointer;
                border: 1px solid black;
                border-radius: 20px;
                margin: 0 2px;
                padding: 1px;
            }

            > :last-child {
                margin: 10px 0 0 4px;
            }
        } //dimensions

        &__rating {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 10px auto 100px;
            border: 2px solid rgb(59, 59, 59);
            border-radius: 20px;
            padding: 0 25px;

            > :first-child {
                color: rgb(53, 53, 53);
            }
        }

    }

}

@media only screen and (max-width: 720px) {

    .imageCardModal {
     
    
    
    }
}