$image-grid-gap: 12px;

.imageList{
    
    &__noResults{
        margin: 30% auto;
        display: table;
    }

    &__bar{
        display: flex;
    }

    &__grid{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: $image-grid-gap;
        padding: .5em;
    }

    &__column{
        display: flex;
        flex-direction: column;
        gap: $image-grid-gap;
    }
    
}
// @media only screen and (min-width: 420px) {
//     .imageList{
//         &__grid{
//             flex-direction: row;
//         }
//     }
//   }