.imageList{
    

    &__noResults{
        margin: 30% auto;
        display: table;
    }

    &__bar{
        display: flex;
    }

    &__grid{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: .5em;
    }

    &__column{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
}
// @media only screen and (min-width: 420px) {
//     .imageList{
//         &__grid{
//             flex-direction: row;
//         }
//     }
//   }