@import './../../designUtils/dimensions.scss';
@import './../../designUtils/cards.scss';
@import './../../designUtils/fonts.scss';

.imageCard{
        position: relative;
        cursor: pointer;
        max-width: $image-card-max-width;
        max-height: $image-card-max-height;
        min-height: $image-card-min-height;

    &__link{
        text-decoration: none;
        color: unset;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @extend %card-outline;
    }

    &__overlay{
        position: absolute;
        bottom: 2%;
        left: 5%;
        width: 92%;
        background-color: rgba(4, 4, 4);
        border-radius: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.2fr; 
        grid-template-rows: 25% 50% 25%;
        opacity: 0; 
        transition: opacity 0.2s ease-in-out;
        color: white;

        > * {
            margin: 2% 3%;
        }

        &__title{
            grid-column: 1 / 4;
        }
        &__date{
            grid-column: 4 / 5;
            position: absolute;
            top: 1px;
            right: 2px;
        }
        &__prompt{
            grid-column: 1 / 5;
            
        }
        &__ai{
            grid-column: 1 / 4;
            color: rgb(151, 151, 151);
            position: absolute;
            bottom: 2px;
            left: 0px;
        }

        &__rating{
            grid-column: 4 / 5;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
        
    }

    &:hover &__overlay{
        opacity: .96;
    }
    
}