.imageCard{

    &__link{
        text-decoration: none;
        color: unset;
    }
    
    > * {
        border: 1px solid black; //testing
    }
    
    &__title{
        font-weight: 600;
    }

    &__imageDiv{
        img{
            width: 300px;
            height: 300px;
        }
    }
}