@import './../../designUtils/fonts.scss';
@import './../../designUtils/cards.scss';
@import './../../designUtils/colors.scss';
@import './../../designUtils/buttons.scss';

.contact{
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    background-color: $steel;
    border: 3px solid $background-light;
    @extend %card-outline;

    &__form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__submit{
        margin: 0px auto;
        width: 50%;
        @extend %button-17;
    }
}