@import './../../designUtils/textfields.scss';

.selectBar {
    @extend %text-input;
    width: 30%;
    margin: 0 1%;
    padding: 5px 10px;
    max-height: calc(1.2em + 24.9px);
    height: calc(1.2em + 24.9px);
  }