@import './../../designUtils/cards.scss';
@import './../../designUtils/colors.scss';
@import './../../designUtils/fonts.scss';
@import './../../designUtils/dimensions.scss';

.profileImageContainer{
    //border: 3px solid rgb(253, 252, 252);
    color: white;
    width: 80%;
    //max-height: 40vh;
    overflow-x: scroll;
    background-color: $background-light;
    border: 1px solid rgb(57, 57, 90);
    text-align: center;
    @extend %card-outline;

    &__title{
        text-shadow: 3px 4px 3px rgba(0,0,0,0.7), 4px 8px 13px rgba(0,0,0,0.7), 12px 18px 23px rgba(0,0,0,0.3);
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        padding: 10px;
    }

    &::-webkit-scrollbar {
        display: none;
      }
    &__images{
        display:flex;
        > * {
            margin: 2px 5px;
        }
    }

    @media (max-width: $minimum-navbar-width) {
        width: 300px;
        &__images{
            display:flex;
            flex-direction: column;
        }

    }
    
}