@import './../../designUtils/buttons.scss';
@import './../../designUtils/cards.scss';
@import './../../designUtils/textfields.scss';
@import './../../designUtils/container.scss';
@import './../../designUtils/colors.scss';
@import './../../designUtils/fonts.scss';

.newImageForm {
    @extend %form-container;
    @extend %card-outline;

    &__details {
        >#title {}

        // >#ai {
        //     height: 9%;
        //     width: 50%;
        // }

        >#prompt {
            height: 15%;
        }

        >#instructions {
            height: 20%;
        }

    }

    &__image {

        &>button {
            border: 2px solid $background-dark;
            color: $background-dark;
            background-color: white;
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

        }

        &>input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

        }

        & > img {
            max-width: 95%;
            max-height: 95%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @extend %card-outline;
        }

    }
}