@import './../../designUtils/cards.scss';

.profileImageCard{
    position: relative;
    > img{
        object-fit: cover;
        width: 210px;
        height: 210px;
        @extend %card-outline;
    }

    &__overlay{
        position: absolute;
        bottom: 2%;
        left: 5%;
        width: 92%;
        background-color: rgba(4, 4, 4);
        border-radius: 20px; 
        opacity: 0; 
        transition: opacity 0.2s ease-in-out;
        color: white;

        &__title{
            font-size: .9rem;
        }
    }

    &:hover{
        cursor: pointer;
    }

    &:hover &__overlay{
        opacity: .96;
    }
}